<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
  {% include head.html %}
<body class="page-container">

<header class="page-header">
  <h1>
      <a href="/" title="Training Center home" class="page-header__link">
        <img src="/assets/img/training-center.svg" alt="Logo do Training Center, uma comunidade de desenvolvimento de software, open source e compartilhamento de conhecimento para iniciantes"
          class="brand-logo">
        <span>Training Center</span>
      </a>
  </h1>
  
  {% include navigation-menu.html %}
</header>