header
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 10px
    border-bottom: 2px solid #f6f5f0
    
h1
    flex: 100%
    text-align: center

.brand-logo
    width: 90px
    padding-bottom: 20px
    